# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore

# Excluding Firebase SDK
EmojieJunkie-Game/[Aa]ssets/Firebase/Editor Default Resources/
EmojieJunkie-Game/[Aa]ssets/ExternalDependencyManager/
EmojieJunkie-Game/[Aa]ssets/Parse/
EmojieJunkie-Game/[Aa]ssets/StreamingAssets/
EmojieJunkie-Game/[Aa]ssets/Firebase/
EmojieJunkie-Game/[Aa]ssets/Plugins/
EmojieJunkie-Game/[Aa]ssets/Editor Default Resources/Firebase/


EmojieJunkie-Game/[Aa]ssets/Firebase.meta
EmojieJunkie-Game/[Aa]ssets/Plugins.meta
EmojieJunkie-Game/[Aa]ssets/ExternalDependencyManager.meta
EmojieJunkie-Game/[Aa]ssets/Firebase/Editor Default Resources.meta
EmojieJunkie-Game/[Aa]ssets/Editor Default Resources/Firebase.meta
EmojieJunkie-Game/[Aa]ssets/Parse.meta
EmojieJunkie-Game/[Aa]ssets/StreamingAssets.meta

# Excluding Google API Key
EmojieJunkie-Game/[Aa]ssets/GoogleService-Info.plist
EmojieJunkie-Game/[Aa]ssets/GoogleService-Info.plist.meta
EmojieJunkie-Game/[Aa]ssets/google-services.json
EmojieJunkie-Game/[Aa]ssets/google-services.json.meta
EmojieJunkie-Game/[Aa]ssets/StreamingAssets/google-services-desktop.json
EmojieJunkie-Game/[Aa]ssets/StreamingAssets/google-services-desktop.json.meta

# Excluding Unity Files
EmojieJunkie-Game/[Ll]ibrary/
EmojieJunkie-Game/[Tt]emp/
EmojieJunkie-Game/[Oo]bj/
EmojieJunkie-Game/[Bb]uild/
EmojieJunkie-Game/[Bb]uilds/
EmojieJunkie-Game/[Ll]ogs/
EmojieJunkie-Game/[Uu]ser[Ss]ettings/
EmojieJunkie-Game/[Mm]emoryCaptures/
EmojieJunkie-Game/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
EmojieJunkie-Game/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
EmojieJunkie-Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
EmojieJunkie-Game/[Aa]ssets/[Ss]treamingAssets/aa/*

# Excluding MacOS files
.DS_Store